<p id="notice"><%= notice %></p>

<h1>Fasteners</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Model</th>
      <th>Location</th>
      <th>Fastener</th>
      <th>Specification</th>
      <th>Citation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fasteners.each do |fastener| %>
      <tr>
        <td><%= fastener.year %></td>
        <td><%= fastener.model %></td>
        <td><%= fastener.location %></td>
        <td><%= fastener.fastener %></td>
        <td><%= fastener.specification %></td>
        <td><%= fastener.citation %></td>
        <td><%= link_to 'Show', fastener %></td>
        <td><%= link_to 'Edit', edit_fastener_path(fastener) %></td>
        <td><%= link_to 'Destroy', fastener, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fastener', new_fastener_path %>
